.btn {
  &--close {
    width: rem(28);
    height: rem(28);
    border-radius: 100%;
    transition: all 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    &:hover {
      background-color: $grey50;
    }

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  &--search {
    width: rem(28);
    height: rem(28);
    border-radius: 100%;
    transition: all 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    &:hover {
      background-color: $grey50;
    }

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  &--arrow-left {
    @include bg('icon_prev.svg');
    width: rem(28);
    height: rem(28);
    background-position: center;
    border-radius: 100%;
    transition: all 0.2s;

    &:hover {
      background-color: $grey50;
    }
  }

  &--arrow-right {
    @include bg('icon_next.svg');
    width: rem(28);
    height: rem(28);
    background-position: center;
    border-radius: 100%;
    transition: all 0.2s;

    &:hover {
      background-color: $grey50;
    }
  }

  &--refresh {
    @include bg('icon_refresh.svg');
    width: rem(28);
    height: rem(28);
    background-position: center;
    border-radius: 100%;
    transition: all 0.2s;

    &:hover {
      background-color: $grey50;
    }
  }

  &--lock {
    @include bg('icon_lock.svg');
    width: rem(28);
    height: rem(28);
    background-position: center;
  }

  &--more {
    @include bg('icon_more.svg');
    width: rem(28);
    height: rem(28);
    background-position: center;
  }

  &--prev,
  &--next {
    background-color: transparent;

    svg {
      font-size: rem(32);
      color: $grey400;
      transition: 0.2s;
    }

    &:disabled {
      cursor: auto;
    }

    &:not(:disabled) {
      &:hover {
        svg {
          color: $grey700;
        }
      }
    }
  }

  &--send {
    @include b2;
    display: block;
    position: relative;
    width: rem(132);
    height: rem(30);
    background-color: transparent;

    .circle {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      width: rem(30);
      height: rem(30);
      background-color: $blue-dark;
      transition: all 0.3s;
      border-radius: rem(18);
      transition: all 0.3s;

      .icon {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        transition: all 0.3s;

        &.arrow {
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          transition: all 0.3s;

          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid $white;
            border-right: 0.125rem solid $white;
            transform: rotate(45deg);
          }
        }
      }
    }

    .text {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.4rem 0;
      margin: 0 0 0 rem(32);
      color: $grey700;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      transition: all 0.3s;
    }

    &:hover {
      .circle {
        width: 100%;

        .icon {
          &.arrow {
            background: $white;
            transform: translate(rem(10), 0);
          }
        }
      }

      .text {
        color: $white;
      }
    }
  }
}
